tensorflow
scipy
matplotlib
tree
torch
opencv-python
opencv-python-headless
scikit-learn
seaborn
pandas
torchinfo
torchvision
statistics
numpy
jupyter
wandb
imutils
tqdm
ultralytics
tensor
streamlit
tensorflow_hub